@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";

@theme {
    --main-font: "Roboto Condensed", sans-serif;
    --secondary-font: "Bebas Neue", sans-serif;

    --main-bg-color: #1E201E;
    --text-color: #EBD3F8;
}